.pastebin #pastebin-codebox {
	font-size: 1.2em;
}

.pastebin #pastebin-codebox dd {
	margin: 0 0 0 4em;
	padding: 5px 0 0 1px;
}

.pastebin #pastebin-codebox dt {
	text-transform: uppercase;
	border-bottom: 1px solid #ccc;
	font-size: 0.8em;
	font-weight: bold;
	display:block;
	padding: 3px 0 1px 2px;
}

.pastebin .mini-panel {
	display: block;
	font-size: 110%;
	padding: 12px ;
	margin-top: 12px;
	margin-bottom: 12px;
}

.pastebin .newentry {
	float: right;
	line-height: 1.5;
	margin-right: 10px;
	width: 30%
}

.pastebin .lastsnippets {
	float: right;
	line-height: 1.5;
	margin-right: 10px;
	width: 30%;
}

.pastebin .mod-panel {
	float: left;
	width: 63%;
}

.pastebin #content {
	font-size: 105%;
	float: left;
	width: 65%;
}

.pastebin #extras {
	width: 100%;
}

.pastebin .mini-panel h3 {
	margin-top: 0;
}

.pastebin .mini-panel ul {
	padding-left: 12px;
}

.pastebin #copy_paste.inputbox{
	min-width: 100%;
	max-width: 100%;
	border:none;
}

.pastebin .textwrapper{
	border: 1px solid #B4BAC0;
	padding: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
}
