{% INCLUDE 'overall_header.html' %}

<div class="pastebin">

	<h2>{{ lang('PASTEBIN') }}</h2>

	<div id="extras">
		{% if S_AUTH_POST or S_MODE eq 'view' %}
		<div class="newentry mini-panel navbar">
			<h3>{{ lang('PASTEBIN') }}</h3>
			<ul>
				{% if S_AUTH_POST %}<li><a href="{{ U_PASTEBIN }}">{{ lang('SNIPPET_NEW') }}</a></li>{% endif %}
				{% if S_MODE eq 'view' %}<li><a href="{{ U_SNIPPET_DOWNLOAD }}">{{ lang('SNIPPET_DOWNLOAD') }}</a></li>{% endif %}
			</ul>
		</div>
		{% endif %}

		{% if (S_AUTH_EDIT || S_AUTH_DELETE) && S_MODE eq 'view' %}
		<div class="mod-panel mini-panel navbar">
			<h3>{{ lang('MODERATE_SNIPPET') }}</h3>

			<form method="post" action="{{ S_FORM_ACTION_MOD }}">
			<fieldset class="fields1">
				{% if S_AUTH_EDIT %}
				<dl>
					<dt><label for="pruning_months">{{ lang('PRUNING_MONTHS') }}:</label></dt>
					<dd><select name="pruning_months" id="pruning_months">{{ PRUNING_MONTHS_SELECT }}</select> {{ lang('PRUNING_MONTH_SHORT') }}</dd>
				</dl>
				<dl>
					<dt><label for="snippet_highlight">{{ lang('SNIPPET_HIGHLIGHT') }}:</label></dt>
					<dd><select id="snippet_highlight" name="snippet_highlight">{{ HIGHLIGHT_SELECT_MOD }}</select></dd>
				</dl>
				{% endif %}
				{% if S_AUTH_DELETE %}
				<dl>
					<dt><label for="delete_snippet">{{ lang('DELETE_SNIPPET') }}:</label></dt>
					<dd><label for="delete_snippet"><input type="checkbox" name="delete_snippet" id="delete_snippet" /> {{ lang('DELETE') }}</label></dd>
				</dl>
				{% endif %}
			</fieldset>

			<fieldset class="submit-buttons">
				{{ S_HIDDEN_FIELDS }}
				<input type="hidden" name="mode" value="moderate" />
				<input class="button1" name="submit" type="submit" value="{{ lang('SUBMIT') }}" />
			</fieldset>
			</form>
		</div>
		{% endif %}
	</div>

	<div id="content">
		{% if S_MODE eq 'view' %}
			{% INCLUDE 'pastebin_view.html' %}
		{% else %}
			{% INCLUDE 'pastebin_post.html' %}
		{% endif %}
	</div>

	{% if S_AUTH_VIEW %}
	<div class="lastsnippets mini-panel navbar">
		<h3>{{ lang('LATEST_SNIPPETS') }}</h3>

		{% if loops.latest_snippets|length %}
		<ul>
			{% for latest_snippets in loops.latest_snippets %}
				<li><a href="{{ latest_snippets.URL }}" title="{{ latest_snippets.TITLE }}{% if latest_snippets.DESC %}: {{ latest_snippets.DESC }}{% endif %}">{{ latest_snippets.TITLE_SHORT }}</a> ({{ latest_snippets.SNIPPET_TIME }}, {{ latest_snippets.AUTHOR_FULL }})</li>
			{% endfor %}
		</ul>
		{% else %}
		<ul>
			<li>{{ lang('NO_SNIPPETS') }}</li>
		</ul>
		{% endif %}
	</div>
	{% endif %}

</div>

{% INCLUDE 'overall_footer.html' %}
