<!-- INCLUDE overall_header.html -->

<h2>{L_PASTEBIN}</h2>

<div id="extras">
	

	<!-- IF S_AUTH_POST or S_MODE eq 'view' -->
	<div class="mini-panel navbar">
		<span class="corners-top"><span></span></span>

		<h3>{L_PASTEBIN}</h3>

		<ul>
			<!-- IF S_AUTH_POST --><li><a href="{U_PASTEBIN}">{L_SNIPPET_NEW}</a></li><!-- ENDIF -->
			<!-- IF S_MODE eq 'view' --><li><a href="{U_SNIPPET_DOWNLOAD}">{L_SNIPPET_DOWNLOAD}</a></li><!-- ENDIF -->
		</ul>
		<span class="corners-bottom"><span></span></span>
	</div>
	<!-- ENDIF -->

	<!-- IF (S_AUTH_EDIT || S_AUTH_DELETE) && S_MODE eq 'view' -->
	<div class="mini-panel navbar">
		<span class="corners-top"><span></span></span>

		<h3>{L_MODERATE_SNIPPET}</h3>

		<form method="post" action="{S_FORM_ACTION_MOD}">
		<fieldset class="fields1">
			<!-- IF S_AUTH_EDIT -->
			<dl>
				<dt><label for="pruning_months">{L_PRUNING_MONTHS}:</label></dt>
				<dd><select name="pruning_months" id="pruning_months">{PRUNING_MONTHS_SELECT}</select> {L_PRUNING_MONTH_SHORT}</dd>
			</dl>
			<dl>
				<dt><label for="snippet_highlight">{L_SNIPPET_HIGHLIGHT}:</label></dt>
				<dd><select id="snippet_highlight" name="snippet_highlight">{HIGHLIGHT_SELECT_MOD}</select></dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF S_AUTH_DELETE -->
			<dl>
				<dt><label for="delete_snippet">{L_DELETE_SNIPPET}:</label></dt>
				<dd><label for="delete_snippet"><input type="checkbox" name="delete_snippet" id="delete_snippet" /> {L_DELETE}</label></dd>
			</dl>
			<!-- ENDIF -->
		</fieldset>

		<fieldset class="submit-buttons">
			{S_HIDDEN_FIELDS}
			<input type="hidden" name="mode" value="moderate" />
			<input class="button1" name="submit" type="submit" value="{L_SUBMIT}" />
		</fieldset>
		</form>

		<span class="corners-bottom"><span></span></span>
	</div>
	<!-- ENDIF -->

	<!-- IF S_AUTH_VIEW -->
	<div class="mini-panel navbar">
		<span class="corners-top"><span></span></span>

		<h3>{L_LATEST_SNIPPETS}</h3>

		<!-- IF .latest_snippets -->
		<ul>
			<!-- BEGIN latest_snippets -->
				<li><a href="{latest_snippets.URL}" title="{latest_snippets.TITLE}<!-- IF latest_snippets.DESC -->: {latest_snippets.DESC}<!-- ENDIF -->">{latest_snippets.TITLE_SHORT}</a> ({latest_snippets.AUTHOR_FULL})</li>
			<!-- END latest_snippets -->
		</ul>
		<!-- ELSE -->
		<ul>
			<li>{L_NO_SNIPPETS}</li>
		</ul>
		<!-- ENDIF -->

		<span class="corners-bottom"><span></span></span>
	</div>
	<!-- ENDIF -->
</div>



<div id="content">
    <!-- IF S_MODE eq 'view' -->
        <!-- INCLUDE pastebin_view.html -->
    <!-- ELSE -->
        <!-- INCLUDE pastebin_post.html -->
    <!-- ENDIF -->
</div>



<!-- INCLUDE overall_footer.html -->