	<h2>{SNIPPET_TITLE}</h2>
	<!-- IF SNIPPET_AUTHOR_FULL --><em class="author">{L_POST_BY_AUTHOR} {SNIPPET_AUTHOR_FULL}</em><!-- ENDIF -->
	<!-- IF SNIPPET_DESC -->
	<dl>
		<dt><strong>{L_SNIPPET_DESC}:</strong></dt>
		<dd>{SNIPPET_DESC}</dd>
	</dl>
	<br />
	<!-- ENDIF -->

	<form action="{S_FORM_ACTION}" method="get">
		<p>
			<input type="hidden" name="mode" value="view" />
			{S_HIDDEN_FIELDS}
			<label for="highlight">{L_HIGHLIGHT_LANG}:</label> <select id="highlight" name="highlight">{HIGHLIGHT_SELECT}</select>
			<input type="submit" value="{L_SUBMIT}" class="button1" />
		</p>
	</form>

	<dl id="pastebin-codebox" class="codebox">
		<dt>{L_SNIPPET_TEXT}:</dt>
		<dd>
			{SNIPPET_TEXT_DISPLAY}
		</dd>
	</dl>

	<h3>{L_COPY_PASTE}</h3>
	<p>
		{L_COPY_PASTE_EXPLAIN} {DOWNLOAD_SNIPPET_EXPLAIN}<br />
		<textarea id="copy_paste" class="inputbox" rows="5" cols="76" tabindex="4">{SNIPPET_TEXT}</textarea>
		<input type="button" class="button1" onclick="getElementById('copy_paste').select(); return false;" value="{L_SELECT_CODE}" />
	</p>