	<h3>{{ SNIPPET_TITLE_V }}</h3>
	{% if SNIPPET_AUTHOR_FULL %}<em class="author">{{ lang('POST_BY_AUTHOR') }} {{ SNIPPET_AUTHOR_FULL }} ({{ SNIPPET_TIME }})</em>{% endif %}
	{% if SNIPPET_DESC_V %}
	<dl>
		<dt><strong>{{ lang('PASTEBIN_SNIPPET_DESC') }}{{ lang('COLON') }}</strong></dt>
		<dd>{{ SNIPPET_DESC_V }}</dd>
		<dt><strong>{{ lang('PASTEBIN_SNIPPET_CREATION_TIME') }}{{ lang('COLON') }}</strong></dt>
		<dd>{{ SNIPPET_TIME }}</dd>
		<dt><strong>{{ lang('PASTEBIN_SNIPPET_PRUNE_TIME') }}{{ lang('COLON') }}</strong></dt>
		<dd>{{ SNIPPET_PRUNE_ON }}</dd>
	</dl>
	<br />
	{% endif %}

	<form action="{{ S_FORM_ACTION }}" method="get">
		<p>
			<input type="hidden" name="mode" value="view" />
			{{ S_HIDDEN_FIELDS_V }}
			<label for="highlight">{{ lang('PASTEBIN_HIGHLIGHT_LANG') }}{{ lang('COLON') }}</label> <select id="highlight" name="highlight">{{ HIGHLIGHT_SELECT }}</select>
			<input type="submit" value="{{ lang('SUBMIT') }}" class="button1" />
		</p>
	</form>

	<dl id="pastebin-codebox" class="codebox">
		<dt>{{ lang('PASTEBIN_SNIPPET_TEXT') }}{{ lang('COLON') }}</dt>
		<dd>
			{{ SNIPPET_TEXT_DISPLAY }}
		</dd>
	</dl>

	<h3>{{ lang('PASTEBIN_COPY_PASTE') }}</h3>
	<form id="edit_form" method="post" action="{{ S_FORM_ACTION }}">
		<p>
			{{ lang('PASTEBIN_COPY_PASTE_EXPLAIN') }} {{ DOWNLOAD_SNIPPET_EXPLAIN }}<br />
			<div class="textwrapper">
				<textarea id="copy_paste" class="inputbox" name="edit_snippet" rows="5" cols="76" tabindex="4">{{ SNIPPET_TEXT_ORIG }}</textarea>
			</div>
			<input type="button" class="button1" onclick="getElementById('copy_paste').select(); return false;" value="{{ lang('PASTEBIN_SELECT_CODE') }}" />
			{% if S_AUTH_EDIT %}
				<input type="hidden" name="mode" value="edit_snippet" />
				{{ S_HIDDEN_FIELDS_V }}
				&nbsp;<input type="submit" class="button1" value="{{ lang('PASTEBIN_SNIPPET_SAVE') }}" />
			{% endif %}
		</p>
		{{ S_FORM_TOKEN }}
	</form>
